.terraform/
terraform.tfstate
terraform.tfstate.*
crash.log
override.tf
override.tf.json
*_override.tf
*_override.tf.json
!terraform.tfvars.example

envs/
*.tfvars
*.tfvars.json

rendered/

.vscode/
.idea/
.DS_Store
*.zip
*.log
demo-nginx-access.log
