project_name = "elk-lab"

elastic_version = "8.13.4"

deploy_containers = false

elastic_password       = "REPLACE_WITH_SECURE_ELASTIC_PASSWORD"
kibana_system_password = "REPLACE_WITH_SECURE_KIBANA_SYSTEM_PASSWORD"

elasticsearch_port = 9200
kibana_port        = 5601
logstash_port      = 5044

docker_network_name = "elk-lab-network"
